<!-- Test URDF model of robot, to understand robot linkages.
    - sets rviz to use "base_link"
    - launchs "joint_state_publisher" to simulate robot state that would normally come from the real robot
-->

<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find tb2s_description)/urdf/robot.urdf.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <arg name="gui" default="True" />
    <param name="use_gui" value="$(arg gui)"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tb2s_description)/rviz/test_model.rviz" required="true" />

</launch>
