<?xml version="1.0"?>
<robot name="astra_macros" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find tb2s_description)/urdf/_common.urdf.xacro"/>

  <xacro:macro name="astra_camera" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <link name="${name}_link">
      <visual>
        <origin xyz="0.03 0.02 0.085" rpy="1.57 0 1.57" />  <!-- rpy="0 0 -1.57"-->
        <geometry>
          <!-- </mesh filename="package://tb2s_description/meshes/xtion.stl" scale="0.001 0.001 0.001"/> -->
          <mesh filename="package://tb2s_description/meshes/astra.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Green" />
      </visual>
      <collision>
        <origin xyz="0 0 0.032075" rpy="0 0 0" />
        <geometry>
          <box size="0.0381 0.1793875 0.0254"/>
        </geometry>
      </collision>
    </link>


  </xacro:macro>

</robot>
