<!-- NOTE: currently using GMAPPER! -->
<!--  From BOOK: -->

<launch>

  <node name="map_server" pkg="map_server" type="map_server"
    args="$(find tb2s_navigation)/maps/map.yaml"/>

  <include file="$(find tb2s_navigation)/launch/amcl.launch" />

  <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">

    <rosparam file="$(find tb2s_navigation)/minimal_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find tb2s_navigation)/minimal_param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find tb2s_navigation)/minimal_param/local_costmap_params.yaml" command="load"  />
    <rosparam file="$(find tb2s_navigation)/minimal_param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find tb2s_navigation)/minimal_param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find tb2s_navigation)/minimal_param/move_base_params.yaml" command="load" />

    <remap from="cmd_vel" to="cmd_vel_mux/tb2s_navigation"/>

  </node>

</launch> 
